<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetDevTreeServiceImplServiceSoapBinding"  maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://115.159.23.193/services/GetDevTreeService"
                binding="basicHttpBinding" bindingConfiguration="GetDevTreeServiceImplServiceSoapBinding"
                contract="IVMS7200.IGetDevTreeService" name="GetDevTreeServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>